body{
    background-image: url("./images/filim.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
h1,h2{
    color: white;
    text-align: center;
    font-size: 3.5rem;
    
}
div{
    background-color: black;
    width: 17%;
    height: 1900px;
    float: left;

    margin-left: 100px;
    padding: 1px;

    
}
#ff{
    background-color: black;
    width: 807px;
    height: 117px;
    margin-left: 3px;
    margin-top: 266px;
    border: white 2px solid;
}
img{
    width: 101%;
    height: 908px;
    margin-left: -4px;
    margin-top: 10px;

}
h3{
    text-align: center;
    color: white;
    font-size: xx-large;

    
}
p{
    font-size: x-large;
    color: white;
}
#gg{
    background-color: black;
    width: 807px;
    height: 117px;
    margin-left: 3px;
    margin-top: 125px;
    border: white 2px solid;
}
#NN{background-color: black;
    width: 807px;
    height: 117px;
    margin-left: 3px;
    margin-top: 213px;
    border: white 2px solid;
}



